@using Parcial1.ViewModels;
@model CEditViewModel
@{

}

<div>
    <div>
        <h2 style="text-align: center;">Modificacion de la carrera <strong>@Model.carrera.Name</strong> </h2>
    </div>
    <div>
        <form method="post" asp-action="Edit">
            <div>
                <input type="hidden" asp-for="carrera.CarreraId" readonly>
            </div>
            <div class="mb-3">
                <label asp-for="carrera.Name" class="form-label"></label>
                <input type="text" asp-for="carrera.Name" class="form-control">
            </div>
            <div class="mb-3">
                <label asp-for="carrera.Turno" class="form-label"></label>
                <select asp-for="carrera.Turno" class="form-control">
                    <option value="0">Mañana</option>
                    <option value="1">Tarde</option>
                    <option value="2">Noche</option>
                </select>
            </div>
            <div>
                <button type="submit" class="btn btn-info">Modificar</button>
                <a asp-action="Index" class="btn btn-primary">Volver</a>
            </div>
        </form>
    </div>
</div>